*{
    margin: 0px;
    padding: 0px;
    background-color:whitesmoke;
}
 p{
    font-size: 30px;
    font-weight: 800;
    font-style: italic;
    text-decoration: underline;
 }

 #web{
    font-family: sans-serif;
    font-weight: lighter;
    text-align: center;
    text-transform:uppercase;
 }
 .tech{
    color: darkgreen;
    text-align: right;

 }
 ol li{
    list-style: none;
    text-decoration: dashed;
    margin: 10px 20px;
 }
